{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}
{% for quotation in quotations['quotations'] %}
<h1>{{quotation['character']}}</h1>
<form id="missing_word">
    <p>
        {% for word in quotation['quotation'] %}
            {% if word != 'X' %}
                {{word}}
            {% else %}
                <input type="text">
            {% endif %}
        {% endfor %}
    </p>
{% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}