{% extends 'base.html' %}

{% block content %}
{% include 'header.html' %}
<div class="fluid-container">
    <div class="row">
        <div class="col-xxl-4 col-xl-3 col-sm-1"></div>
        <div class="col-xxl-4 col-xl-6 col-sm-10 mt-5 bg-light shadow-lg rounded results">
            <form id="missing_word p-3" action="{{ url_for('learn_quotations', quotations = quotations['quotations']) }}" method="post">
                {% for number in range(quotations['quotations']|length) %}
                    <h1>{{quotations['quotations'][number]['character']}}</h1>
                    <h2>{{number + 1}}</h2>
                    <p class="row p-3">
                        {% for word in quotations['quotations'][number]['quotation'] %}
                            {% if word != 'X' %}
                                {{word}}
                            {% else %}
                                <input type="text" class="form-control-sm col-xs-1 mx-1" name="filled_gap {{number}}">
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Submit" id="submit_attempt">
            </form>
        <div class="col-xxl-4 col-xl-3 col-sm-1"></div>
{% endblock %}